/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.8)), url(imgs/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Lato";
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

h2 .info {
    text-transform: uppercase;
}

.wrapper {
    width: 90%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: #fff;*/
    background-color: rgba(0,0,0,0.25);
    /*box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);*/
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* PANELS */
.btn-panel{
    width: 20%;
    height: 5%;
    padding: 15px;
}

.archenemy-panel,
.players-panel,
.scheme-panel {
    width: 33.33%;
    float: left;
    height: 600px /*80%*/;
    text-transform: uppercase;
    padding: 5px;
    /*background-color: rgba(0,0,0,0.45);*/
    background-color: rgba(255,255,255,0.45);
}

.ongoing-panel{
  width: 100%;
  float: left;
  height: 150px /*20%*/;
  padding: 5px;
  background-color: rgba(0,0,0,0.45);
}


/* BUTTONS */
button {
    width: 200px;
    left: 50%;
    transform: translateX(50px, 0px);
    color: #555;
    background: none;
    font-family: "Lato";
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }
button:focus{ outline: none; }

.btn-abandon,
.btn-game,
.btn-player,
.btn-scheme { border: none; }

/* PLAYERS*/
.player {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.life{
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #EB4D4D;
  margin-bottom: 130px;
}

.poison{
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #000000;
  margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player { font-weight: 300; }

.active .player::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-life,
.player-current-poison {
    font-size: 30px;
}

.final {
    position: absolute;
    left: 50%;
    transform:  translateX(-50%);
    top: 520px;
    color: #555;
    font-size: 18px;
    font-family: 'Lato';
    text-align: center;
    padding: 10px;
    width: 160px;
    text-transform: uppercase;
}

.final:focus { outline: none; }

.winner { background-color: #f7f7f7; }
.winner .player {
    font-weight: 300;
    color: #EB4D4D;
}

/*SCHEMES*/
.scheme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    top: 10px;
    height: 90%;
    width: 90%;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.69);
}

.ongoing {
    height: 80%;
    width: 20%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.69);
}

.scheme-mini {
    height: 85%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.69);
}

/*IMAGES*/
